* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    height: 100vh;
    color: white;

    /* Dark blue night gradient */
    background: linear-gradient(
        to right,
        #020024 0%,
        #090979 40%,
        #000000 100%
    );
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: orange;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.search-box {
    display: flex;
}

.search-box input {
    padding: 8px;
    border: none;
    outline: none;
}

.search-box button {
    background: orange;
    border: none;
    padding: 8px 14px;
    color: white;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

/* Left Text */
.left-content {
    max-width: 500px;
}

.left-content h1 {
    font-size: 48px;
    line-height: 1.2;
}

.left-content span {
    color: orange;
}

.left-content p {
    margin: 20px 0;
    font-size: 14px;
    color: #ddd;
}

.join-btn {
    background: orange;
    border: none;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

/* Login Box */
.login-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    background: white;
    color: orange;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid orange;
    background: transparent;
    color: white;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: orange;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.signup {
    margin-top: 15px;
    font-size: 13px;
}

.signup a {
    color: orange;
    text-decoration: none;
}

.social-text {
    margin-top: 15px;
    font-size: 14px;
}

.social-icons span {
    display: inline-block;
    margin: 10px 5px;
    background: white;
    color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}
