*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 40px solid black;
    width: 600px;
    height: 300px;
    display:flex;
    gap:5px;
   flex-wrap: wrap; 
   align-content: start;
   align-items: center;
}
.box{
    width: 50px;
    height: 50px;
    border: 1px solid blue;
}
.container-grid{
    width: 400;
    height: 400px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.grid-box{
    border: 1px solid black;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    /* background-color: blue; */
    background-image: url("https://media.istockphoto.com/id/146766798/photo/a-field-full-of-green-grass-and-hills.jpg?s=612x612&w=0&k=20&c=BDV8HAepBSoCOcbr37Xahck9yizXQRgXAff1A5lyIZs=");
    background-position: center;
    background-repeat: no-repeat;
    
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: brown;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: aqua;
}
.item6{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: blueviolet;
}